nav{
    display: flex;
    border-color: #000000;
    border-bottom: 1px solid;
    width: 100%;
}

div{
    display: flex;
}
ul{
    list-style-type: none;
}
.nachito-uwu{
    display: flex;
}
.testing-class{
    display: flex;
    margin-left: 450px;
    border: 1px solid black;
    padding-right: 200px;
    padding-bottom: 150px;
    background-color: aqua;

}
.programacion-two{
    background-color: red;
    border: 1px solid black;
    display: flex;  
    padding-right: 200px;
    padding-bottom: 150px;  
    margin-left: 120px;
}
.left-bar{
    display: flex;
    border-color: black;
    border-right: 1px, solid;
    flex-direction: column;
    justify-content: space-around;
}
.left-bar-one{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
.left-bar-two{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
.menu-bar {
    font-size: 30px;
    padding-top: 20px;
    padding-left: 10px;
}
.plus-icon{
    padding-left: 1580px;
    padding-top: 20px;
    font-size: 30px;
}
.square-icon{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 30px;
}
.user-icon{
    padding-top: 20px;
    padding-left: 1 0px;
    font-size: 30px
}
.house-icon{
    font-size: 25px;
}
.calendar-icon{
    font-size: 25px;
}
.group-icon{
    font-size: 25px;
}
.folder-icon{
    font-size: 25px;
}
.circle-icon{
    font-size: 25px;
}
